/*----------------------------------------
 animation text-focus-in
 ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

:root{
    --grey: #333;
    --white: #FFF;
    --light: #d8dbe0;
    --dark: #28292c;
}

.light-mode{
    background-color: var(--white);
    color: var(--dark);
}


body{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    background-color: var(--grey);
    color: white;
}

#header {
    text-shadow: -1px 1px 2px #2E2E2E,
    1px 1px 2px #2E2E2E,
    1px -1px 0 #2E2E2E,
    -1px -1px 0 #2E2E2E;
    letter-spacing: .3em;
    font-size: 5em;
    font-weight: 600;
    margin: .25em auto;
    padding: 0;
}

#movie-details {
    background-color: #777777;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin: 1em 3em;
    margin-top: 0;
    display: flex;
    
}

#movie-details h2 {
    font-family: 'Codystar', cursive;
    font-size: 3em;
    margin-top: .5em;
    margin-bottom: 0;
    position: relative;
    right: 21%;
    letter-spacing: .2em;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

#movie-details img{
    display: flex;
    justify-content: flex-end;
    border: 1px solid #A8A8A8;
    border-radius: 8px;
    width: 350px;
    height: 500px;
    margin: 1em 2em 2em 17em;
    padding: 0;

}

#movie-stats {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#movie-stats p {
    font-size: 1.5em;
    font-weight: 200;
    letter-spacing: .1em;
    text-align: left;
}

#movie-list{
    list-style-type: none;
    margin: 1rem auto;

}

#movie-list img{
    margin-bottom: 2.5em;
    width: 375px;
    height: 525px !important;
    border: 1px solid #A8A8A8;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;

}

#button {
    display: block;
    letter-spacing: .2em;
    margin: 0 auto;
    padding: .4em .5em;
    font-size: 1.2em;
    font-weight: 300;
    border-radius: 18px;

}

.toggle-container {
    position: relative;
    width: 125px;
    margin-top: 1em;
}

#toggle-label {
    position: absolute;
    right: 65px;
    top: 25px;
    width: 75%;
    height: 50px;
    background-color: var(--dark);
    border-radius: 50px;
    cursor: pointer;
  
  }
  
  #toggle-switch {
    position: absolute;
    display: none;
  }
  
  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: 0.3s;
    right: 0px;
  }
  
  #toggle-switch:checked ~ .slider {
    background-color: var(--light);
  }
  
  .slider::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 14px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: inset 10px -4px 0px 0px var(--light);
    background-color: var(--dark);
    transition: 0.3s;
  }

  
  #toggle-switch:checked ~ .slider::before {
    transform: translateX(40px);
    background-color: var(--dark);
    box-shadow: none;
  }

form{
    text-align: left;
    font-size: 1.2em;
    letter-spacing: .2em;
    font-weight: 300;
    margin: 0 auto;
}

form label {
    padding-left: 1em;
}

form input{
    text-align: left;
    display: block;
    margin-bottom: 1em;
    border-radius: 25px;
    border: 2px solid #000;
    padding: 20px; 
    width: 95%;
    height: 15px; 
    background-color: #CFCFCF;

}

form select{
    position: relative;
    left: 28%;
    margin-bottom: 1em;
    padding: .2em;
    background-color: #CFCFCF;
    letter-spacing: .2em;
    border-radius: 20px;
}